  <!-- <div class=" justify-content-center"> -->
    <!-- <div class="col-9"> -->
      <div class="p-5 m-5">
        <div class="px-5 mx-5">
          <div class="px-5 mx-5">
            <div class="px-5 mx-5">
              <div class="pr-5 mr-5">
                <div class="header m-0 text-center border-bottom-5"><h2><strong>Cash Transaction Report</strong></h2>                
                </div>
      <form>
        <div class="form-group row pt-4">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1">Mobile No.<span>*</span></label>
          <div class="col-sm-9">
            <input type="password" class="form-control b-0 p-1" id="inputPassword" placeholder="987654123" > 
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1">Full Name<span>*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control b-0 p-1" id="inputPassword" placeholder="text">
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1">Date of Birth<span>*</span></label>
          <!-- <div class="col-sm-9"> -->
            <div class="col-sm-3">
              <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                  <option selected>13</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
          <div class="col-sm-3">
            <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                <option selected>Jan</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="col-sm-3">
          <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
              <option selected>2020</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
      </div>



          <!-- </div> -->
        </div>
        <div class="form-group row pt-4">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1">Gender<span>*</span></label>
          <div class="col-sm-9">
            <!-- <input type="text" class="form-control b-0 p-1" id="inputPassword" placeholder="text"> -->
            <input class="form-check-input p-2 " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label1 " for="flexRadioDefault1"><strong>              Male
            </strong>
            </label>
            <input class="form-check-input p-2" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label2 " for="flexRadioDefault1">
              <strong>Female</strong>
            </label>
          </div>
        </div>

        <div class="form-group row pt-4">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1">Nationality<span>*</span></label>
          <div class="col-sm-9">
            <!-- <input type="text" class="form-control b-0 p-1" id="inputPassword" placeholder="text"> -->
            <input class="form-check-input p-2 " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label1 " for="flexRadioDefault1"><strong>              Indian
            </strong>
            </label>
            <input class="form-check-input p-2" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label2 " for="flexRadioDefault1">
              <strong>Others</strong>
            </label>
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1">Email ID</label>
          <div class="col-sm-9">
            <input type="Email" class="form-control b-0 p-1" id="inputPassword" placeholder="EmailId">
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputEmail3" class="col-sm-3 col-form-label p-1">Occupation</label>
          <div class="col-sm-9">
              <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputEmail3" class="col-sm-3 col-form-label p-1">Communication Address<span>*</span></label>
          <div class="col-sm-9">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputEmail3" class="col-sm-3 col-form-label p-1">Country</label>
          <div class="col-sm-9">
              <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                  <option selected>India</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputEmail3" class="col-sm-3 col-form-label p-1">State</label>
          <div class="col-sm-9">
              <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                  <option selected></option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputEmail3" class="col-sm-3 col-form-label p-1">City</label>
          <div class="col-sm-9">
            <input type="text" class="form-control b-0 p-1" id="inputPassword" placeholder="">
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputEmail3" class="col-sm-3 col-form-label p-1">PinCode<span>*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control b-0 p-1" id="inputPassword" placeholder="">
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputEmail3" class="col-sm-3 col-form-label p-1">Identification Document<span>*</span></label>
          <div class="col-sm-9">
              <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                  <option selected></option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputEmail3" class="col-sm-3 col-form-label p-1">Identification Number<span>*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control b-0 p-1" id="inputPassword" placeholder="">
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputEmail3" class="col-sm-3 col-form-label p-1">Use existing document<span>*</span></label>
          <div class="col-sm-9">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <h4 class="form-check-label text-primary" for="flexCheckChecked">
                View Document
            </h4>
            </div>
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1">Transaction type<span>*</span></label>
          <div class="col-sm-9">
            <input class="form-check-input p-2 " type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label1 " for="flexRadioDefault1"><strong>              Cash In
            </strong>
            </label>
            <input class="form-check-input p-2" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label2 " for="flexRadioDefault1">
              <strong>Cash Out</strong>
            </label>
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputEmail3" class="col-sm-3 col-form-label p-1">Mode Of payment<span>*</span></label>
          <div class="col-sm-9">
              <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                  <option selected></option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputEmail3" class="col-sm-3 col-form-label p-1">Currency<span>*</span></label>
          <div class="col-sm-9">
              <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                  <option selected>INR-Indian-repee</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1">source of fund</label>
          <div class="col-sm-9">
            <input type="Email" class="form-control b-0 p-1" id="inputPassword" placeholder="">
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1">Transaction Amount<span>*</span></label>
          <div class="col-sm-9">
            <input type="Email" class="form-control b-0 p-1" id="inputPassword" placeholder="">
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1">Employee ID<span>*</span></label>
          <div class="col-sm-9">
            <input type="Email" class="form-control b-0 p-1" id="inputPassword" placeholder="">
          </div>
        </div>
        <div class="form-group row pt-4">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1">DECLARATION<span>*</span></label>
          <div class="col-sm-9">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <h4 class="form-check-label" for="flexCheckChecked"><strong>
                I confirm the above mentioned transaction

              </strong>
            </h4>
            </div>
          </div>
        </div>
        <div class="form-group row pt-1">
          <label for="inputPassword" class="col-sm-3 col-form-label p-1"></label>
          <div class="col-sm-9">
            <div class="form-check">
              <i>I say that, source of money spent by me on buying chips is not stolen or is not part of any Benami Transaction/s. i further say that i am entering the casino premises voluntarily and that no one has induced or forced me to enter the casino premises.</i>
            </div>
          </div>
        </div>

        <div class="form-group row pt-1">
          <label for="inputPassword" class="col-sm-2 col-form-label p-1"></label>
          <div class="col-sm-10">
            <div class="form-check">
              <button type="button" class="btn btn-warning m-3">Submit</button>

            </div>
          </div>
        </div>
    </form>

    </div>
    </div>
    </div>


</div>




